:host {
    position: relative;
    width: 100%;
}
.heart {
    transition: transform .3s ease-in-out;
}
.heart path {
    stroke: var(--Icon-Heart-Stroke-Inactive);
    stroke-width: 2;
    fill: transparent;
}
.heart-active svg path {
    animation: edges .6s ease-in-out;
}
.heart-mirror {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.3;
}
.heart-mirror path {
    stroke: none;
    stroke-width: 3;
}
.scale {
    animation: scale-up .6s ease-in-out;
}
.mirror-scale {
    animation: mirror-scale-up .5s ease-in-out;
}
.filling {
    animation: filling .6s ease-in-out;
}
.mirror-filling {
    animation: mirror-filling .5s ease-in-out;
}
.mirror-active {
    transform: scale(3);
    fill: var(--Icon-Heart-Stroke-Active);
}

@keyframes scale-up {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.25);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes mirror-scale-up {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(2.5);
    }
}
@keyframes mirror-filling {
    0% {
        fill: var(--Icon-Heart-Fill-Inactive);
        opacity: 0.1;
    }
    50% {
        stroke: var(--Icon-Heart-Stroke-Active);
        fill: var(--Icon-Heart-Fill-Active);
        opacity: 0.3;
    }
    100% {
        stroke: var(--Icon-Heart-Stroke-Inactive);
        fill: var(--Icon-Heart-Fill-Inactive);
        opacity: 0;
    }
}
@keyframes filling {
    0% {
        stroke: var(--Icon-Heart-Stroke-Inactive);
        fill: var(--Icon-Heart-Fill-Inactive);
    }
    50% {
        stroke: var(--Icon-Heart-Stroke-Active);
        fill: var(--Icon-Heart-Fill-Active);
    }
    100% {
        stroke: var(--Icon-Heart-Stroke-Inactive);
        fill: var(--Icon-Heart-Fill-Inactive);
    }
}