<button class="add" uk-toggle="target: #add-lunch-modal"><span uk-icon="plus"></span></button>

<div id="add-lunch-modal" uk-modal>
  <div class="uk-modal-dialog uk-modal-body">

    <button class="uk-modal-close-default" type="button" uk-close></button>

    <h2 class="uk-modal-title">Add lunch option</h2>

    <p>
      Have a better idea?
    </p>

    <input [(ngModel)]="lunchInput.name" class="uk-input uk-form-width-large" placeholder="Let's add a new place!" type="text" />

    <div class='uk-align-center'>
      <button class="uk-button uk-button-primary uk-modal-close" type="button" (click)="onLunchAdd()">Save</button>
    </div>

  </div>
  <agm-map [latitude]='latitude' [longitude]='longitude' [mapTypeId]='mapType' [zoom]="8" (mapClick)="mapClicked($event)">
      <ng-container *ngIf="(lunchList$ | async) as lunchlist">
        <agm-marker 
        *ngFor="let lunch of lunchlist; let i = index"
        (markerClick)="clickedMarker(lunch.name, i)"
        [latitude]="lunch.lat"
        [longitude]="lunch.lng"
        [label]="lunch.name"
        [markerDraggable]="false"
        >
        </agm-marker>
        <agm-info-window>
          <strong>InfoWindow content</strong>
        </agm-info-window>
      </ng-container>
    </agm-map>
</div>
