.add {
    border: none;
    border-radius: 50%;
    width: 3.5em;
    height: 3.5em;
    position: fixed;
    bottom: 2em;
    right: 2em;
    display: flex;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
    font-size: 1em;
    cursor: pointer;
    outline: none;
    color: white;
    background-color: blue;
}
.add span {
    margin: auto;
}
agm-map {
    height: 300px; /* height is required */
    width: 100%;
}