ul { 
    position: relative;
    list-style: none;
    padding: 1em;
    margin: 1em auto;
    --li-height: 2em;
    --li-margin: .5rem;
    max-width: 35em;
}
li {
    position: absolute;
    transition: all .9s ease;
    height: var(--li-height);
    margin-bottom: var(--li-margin);
    display: flex;
    width: 100%;
    align-items: center;
}
li .place {
    flex: 1;
}
li .love {
    float: right;
    margin: 0 0.5em;
}
.heart {
    position: relative;
}
.heart-material {
    position: absolute;
    top: 0;
    left: 0;
}
.upvotes-count {
    width: 5ch;
    margin-left: 2ch; /* I suppose votes will not go over 99 */
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.upvote-ratio {
    height: 6px;
    border-radius: 3px;
    background-color: rgba(0,255,0,1);
    transition: all .3s ease;
}

.heart-animate {
    animation: heartAnimation 6000ms ease-in forwards;
    background-color: red;
}

@keyframes heartAnimation {
    0% {transform: scale(1)}
    50% {transform: scale(1.25)}
    100% {transform: scale(1)}
}