ul { 
    position: relative;
    list-style: none;
    padding: 1em;
    margin: 1em;
    --li-height: 1rem;
    --li-margin: 1.5rem;
}
li {
    position: absolute;
    transition: all .3s ease;
    width: calc(100% - 2em);
    overflow: hidden;
    height: calc(var(--li-height) + var(--li-margin));
}
li .love {
    float: right;
    margin: 0 0.5em;
}
.heart-rect {
    transform-origin: 50% 50%;
    transform: rotate(45deg);
}
.upvotes-count {
    width: 2ch;
     margin-left: 1ch; /* I suppose votes will not go over 99 */
    display: inline-block;
    text-align: right;
}