nav {
    position: relative;
    display: grid;
    grid-template-columns: var(--nav-height) 1fr var(--nav-height);
    height: var(--nav-height);
    box-shadow: 0 3px 6px var(--Elements-Shadow-Color);
    background-color: var(--Nav-BG-Color);
    color: var(--Font-Color);
    transition: background-color .3s ease;
    z-index: 1;
}
a {
    display: flex;
    grid-column: 2;
    align-items: center;
    text-align: center;
}
.dark-mode {
    grid-column: 3;
    padding: .6em;
}
main {
    min-height: calc(100vh - var(--nav-height));
    overflow: hidden;
    background-color: var(--Main-BG-Color);
    color: var(--Font-Color);
    transition: background-color .3s ease;
}